<div style="padding: 0.5rem;">

    <form class="boton d-flex font" (submit)="setitem()" >
      <div class="boton1 d-flex">
        <select type="string" class="form-control" name="number" [(ngModel)]="number">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <input class="boton2" type="text" placeholder="Escribí acá" name="title" [(ngModel)]="title">
      <input value="Enviar" class="boton3" type="submit" href="#">
    </form>
  
  </div>
  